$theme-colors: (
  "primary": #2aacc8,
  "secondary": #81e4ed,
  "light": #e8ebf1
);

.clearfix{
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}
@import "~bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
@import "base/reset";
@import "base/typography";
@import "utilities/mixins";
@import "layout/header";
@import "layout/home";
@import "layout/footer";
@import "layout/portfolio";
@import "layout/contact";




