.mainContact {

  .contactContainer {
    padding: 0 2% 0 8%;

      @include mQ(1500px) {
        padding: 0 2%;
        }

    .contactList {

      @include mQ(576px) {
      padding: 20px 30px !important;
      }
    }

    .mediaSection {

        @include mQ(576px) {
          text-align: center;
        }

        @include mQ(576px) {
          padding: 15px 0;
        }
      }

      .mediaDown {

        @include mQ(1500px) {
          padding: 0;
        }

        a {
          padding-right: 24px;

          @include mQ(1500px) {
            padding-right: 0;
          }

          img {

            @include mQ(768px) {
              max-width: 40px;
            }
          }
        }
      }

        .mediaUp {

          @include mQ(1500px) {
            padding: 0;
          }

          a {
            padding-right: 24px;

            @include mQ(1500px) {
              padding-right: 0;
          }

          img {

            @include mQ(768px) {
              max-width: 40px;
            }
          }
        }
      }

    .contactLogo {

      @include mQ(768px) {
        padding: 10px 0;
      }
    }
  }
}
