<<<<<<< HEAD
@import "../utilities/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;

  @include mQ(768px) {
    overflow-x: hidden;
  }
}

html, body, ul, ol, li, form, h1, h2, h3, h4, h5, h6, p, span, button {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
=======
@import "../utilities/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;

  @include mQ(768px) {
    overflow-x: hidden;
  }
}

html, body, ul, ol, li, form, h1, h2, h3, h4, h5, h6, p, span, button {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
>>>>>>> 64f6f211dc62b06512820c56f034fd14b89f4b1f
